/* design.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
#signupButton {
    width: 10%;
    padding: 10px;
    
    color: #3483b4;
    border: none;
    float:inline-end;

}


h2 {
    color: #333;
    text-align: center; 
}
h3 {
    color: #575252;
    text-align: center; 
    font-size: small;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0099ff;
    color: #fff;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    border: none;
}
